<!--<div>
  <label> Tax rate </label>
  <select [value]="taxRate || 0" (change)="taxRate=$event.target.value">
    <option value="0">0%</option>
    <option value="10">10%</option>
    <option value="20">20%</option>
    <option value="50">50%</option>
  </select>
</div>-->

<!--<div>
  <div>
    {{getProducts() | json}}
  </div>
</div>-->



<!--<div>
  <div>Date from object {{ dateObject | date:"shortDate"}}</div>
  <div>Date from string {{ dateString | date:"mediumDate"}}</div>
  <div>Date from number {{ dateNumber | date:"longDate"}}</div>
  <div>Date from number {{ dateNumber | date:"dd-MM-yyyy"}}</div>
</div>-->
<!--<div class="row m-3">
<div class="col-3">
  <label> Number of items </label>
  <select [value]="itemCount" (change)="itemCount=$event.target.value">
    <option *ngFor="let item of getProducts(); let i = index" [value]="i+1">
      {{i+1}}
    </option>
  </select>
</div>

  <div class="col-3">
    <label> Tax rate </label>
    <select [value]="taxRate || 0" (change)="taxRate=$event.target.value">
      <option value="0">None</option>
      <option value="10">{{0.1  | percent}}</option>
      <option value="20">{{0.2  | percent}}</option>
      <option value="50">{{0.5  | percent}}</option>
      <option value="150">{{1.5 | percent}}</option>
    </select>
  </div>

  <div class="col-4">
    <label> Category filter </label>
    <select [(ngModel)]="categoryFilter">
      <option></option>
      <option>Watersports</option>
      <option>Soccer</option>
      <option>Chess</option>
    </select>
  </div>

</div>-->





  <table class="table table-sm table-bordered table-striped">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>

      <th></th>
    </tr>
    <!--<tr *paFor="let item of getProducts() | filter:categoryFilter | slice:0:(itemCount || 1); let i = index; let odd = odd; let even = even"
      [class.bg-info]="odd" [class.bg-warning]="even">-->
    <tr *paFor="let item of getProducts(); let i = index; let odd = odd; let even = even"
        [class.bg-info]="odd"
        [class.bg-warning]="even">
      <td style="vertical-align:middle">{{i + 1}}</td>
      <td style="vertical-align:middle">{{item.name | uppercase}}</td>
      <td style="vertical-align:middle">{{item.category | lowercase}}</td>
      <td style="vertical-align:middle">{{item.price | addTax:(taxRate || 0) | currency:"USD":"symbol"}}</td>

      <td class="text-xs-center">
        <button class="btn btn-danger btn-sm" (click)="deleteProduct(item.id)">
          Delete
        </button>
      </td>
    </tr>
  </table>


<!--<paDiscountEditor [discounter]="discounter"></paDiscountEditor>
<paDiscountDisplay [discounter]="discounter"></paDiscountDisplay>-->
<paDiscountEditor></paDiscountEditor>
<paDiscountDisplay></paDiscountDisplay>
